# Preparación de datos con Pandas

Autores: Ismael Sagredo Olivenza y Fernando Carlos López Hernández

## Pandas

Pandas es el acrónimo de (Python Data Analysis Library) es un código fuente open source con licencia BSD que proporciona estructuras de datos, herramientas de análisis en python, fáciles de usar y de alto rendimiento.

**Dataframe**

Es la estuctura fundamental de Pandas. Es una especie de tabla que permite cargar información proveniente de un fichero y poder manejarla a nuestro antojo. Soporta importación directa desde csv lo que es muy útil ya que es el formato más extendido de los diferentes datasets que están publicados en internet.
El dataframe puede tener en cada columna un tipo de datos diferentes.

Vamos a trabajar con Python para tener cierta soltura con el lenguaje antes realizar los laboratorios.
Para ello vamos a realizar el siguiente ejercicios que consisten en trabajar con el datase de películas de movielens dataset que se puede descargar aquí:
https://grouplens.org/datasets/movielens/

Lo primero que haremos será cargar el fichero movies_metadata.csv usando Pandas en un dataframe.

In [7]:
import pandas as pd
import numpy as np
movies = pd.read_csv('movies_metadata.csv')

movies.head(3)

C:\Users\Deiviss\AppData\Local\Temp\ipykernel_12724\3919483189.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('movies_metadata.csv')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

El warning se produce porque hay algunos campos del dataset que son multicampo y no sabe de que tipo son. Vamos a establecer los tipos para que desaparezca el warning. Como nos indica que el campo que no conoce es el 10, establecemos el 10 como str.

In [ ]:

movies = pd.read_csv('movies_metadata.csv',dtype={ 10 : 'str'})

Podemos visualizar el dataframe entero usando display. Pero en muchas ocasiones nos interesa mostrar solo una parte del dataframe para que podamos ver que pinta tiene el dataframe.

In [ ]:
display(movies.head(n=4));
display(movies.tail(n=4));

Echamos un vistazo al dataframe, los principales campos que nos interesan son el id, el original_title, los géneros, pero también hay otros interesantes como el rating medio vote_ average.

Ahora cargamos el fichero de ratings ratings_small.csv

In [ ]:
ratings = pd.read_csv('ratings_small.csv')

In [ ]:
display(ratings.head(n=4));
display(ratings.tail(n=4));

En el fichero rating tenemos las valoraciones de los usuarios identificados con un id anónimo (userId) y el identificador de la palícula (movieId). De esta forma podemos relacionar ambos dataframes. Por ejemplo, si queremos buscar todas las votaciones de una película concreta podemos extraer el id de la película que queremos buscar y con ese id consultar los ratings. Buscamos por ejemplo la película "The Lation King"

In [ ]:
lion = movies[movies["title"] == "The Lion King"]
display(lion)

Pero buscar en un campo de texto de esta forma es complicado, ya que podemos estar buscando un texto y este no estar escrito exactamente igual que el almacenado (puedes poner una letra minúscula en alguna de las mayúsculas para comprobarlo). Una solución es buscar parcialmente. Pandas no lo permite hacer directamente, pero tenemos algunos trucos para conseguirlo, por ejemplo usando máscaras.

In [ ]:
tested = 'lion king'
#Hacemos una subselección de los dos campos que nos interesan y los copiamos a otro dataframe
titles=movies[["original_title","id"]].copy();
# Nos creamos una máscara con el método applymap que nos indica que campos contienen una condición que establecemos mediante una lambda
mask = titles.applymap(lambda x:  tested.lower() in str(x).lower())
# Aplicamos la mascara para encontrar que campos nos interesan usando la función any
df1 = titles[mask.any(axis=1)]
#Any nos devuelve la fila o columna (dependiendo del axis) que al menos tenga un campo a true de la máscara. Axis 1 indica
# la columna en este caso. Si queremos devolver la fila, sería axis = 0
display(df1)

Nos encuentra tres de las películas de de la saga de The Lion King. Ahora podemos identificar correctamente el criterio de búisqueda para seleccionar correctamente el que deseamos

In [ ]:
lion = movies[movies["title"] == "The Lion King"]
display(lion)

Identificada la entrada de la película que queremos buscar, ahora procedemos, usando el ID a buscar los ratings de dicha película. Para acceder al valor del id tenemos que usar la función loc que define una selección a traves de un indice, en nuestro caso el 0 que nos devolverá la fila del índice.

In [ ]:
lionId = int(lion["id"].loc[lion.index[0]])
#lionId = movies[movies["title"] == "The Lion King"]["id"]
print(lionId)
ratingLion = ratings[ratings["movieId"] == lionId]
display(ratingLion)

Ahora queremos calcular la media de las valoraciones de la película en el fichero de ratings. Para ello vamos a ejecutar la función mean()

In [ ]:
print(ratingLion["rating"].mean())

Entre los campos vemos que hay un timestamp, vamos a convertirlo a date y le cambiamos el nombre a la columna

In [ ]:
import datetime

ratings["timestamp"] = ratings["timestamp"].apply(lambda x:  datetime.datetime.fromtimestamp(x).isoformat())
ratings.rename(columns = {'timestamp':'datetime'}, inplace = True)
display(ratings)

vamos a extraer el género de la película, lo primero que vemos es que los nombres estan con comillas simples, esto provoca un error en el parseo de json, asi que debemos primero limpiar la info usando replace()

In [ ]:
genre = lion["genres"].loc[lion.index[0]];
genre = genre.replace("'", "\"")
import json
genreArray = json.loads(genre)
for g in genreArray:
    print(g["name"])

Ahora vamos a aplicar una función que convierta los géneros en una cadena separada por comas para poder usarla en nuestras consultas más cómodamente. Para ello vamos a usar la función apply que nos permite aplicar una función a una fila o columna

In [ ]:
def transform_genre(x):
    x = x.replace("'", "\"")
    xArr = json.loads(x)
    strOut = ""
    for g in xArr:
        strOut = strOut + g["name"] + ","
    strOut = strOut[0:-1]
    return strOut


movies["genres"] = movies["genres"].apply(transform_genre)

In [ ]:
display(movies)

Ahora podemos buscar todas las películas de animación y por ejemplo calcular su puntuación media usando una máscara.

In [ ]:
tested = "Animation"
maskGenre = movies.applymap(lambda x:  tested.lower() in str(x).lower())
animation = movies[maskGenre.any(axis=1)]
display(animation.head())
print(animation["vote_average"].mean())

Ahora vamos a contar aquellas películas que tenían video y ver si son más que las que no lo tienen, para ello usamos groupby. Esta función agrupa por uno o varios campos, haciendo una especie de lista de colisiones para el resto de campos, de forma que podemos luego hacer preguntas sobre la lista.

In [ ]:
numVideo = movies.groupby("video").count()
display(numVideo)

Como vemos, la función count se aplica a todos los campos de la lista de colisión. Pero podemos aplicarlo a un campo concreto, al que nos interese, para que sea más óptimo. Por ejemplo vamos a calcular el runtime medio de las películas de video y las que no.

In [ ]:
revenueVideo = movies.groupby("video")["runtime"].mean()
print(revenueVideo[revenueVideo.index[0]])
print(revenueVideo[revenueVideo.index[1]])

Cargamos el fichero credits

In [ ]:
credits = pd.read_csv('credits.csv')
display(credits.head())

Y hacemos un merge entre movies y credits por el campo id. Si el campo id es int64 convertirlo a string

In [ ]:
movies["id"] = movies["id"].astype(str)
credits["id"] = credits["id"].astype(str)
movie_credits = pd.merge(movies,credits,how='inner',on=('id'))
display(movie_credits)

Ahora podemos saber los actores de una película, pero tambien que películas ha hecho un actor.
## Ejercicio 01
Buscar todas las películas interpretadas por **Bruce Willis**. Pero nos vamos a encontrar nuevamente con problemas en el json. Hay dos estrategias posibles, limpiar el json o ir al grano. Limpiar el json será costoso y dará bastantes problemas os proponemos la segunda opción:
Hay que crear una función que convierta Json a array por espacios. La función anterior no nos vale porque este json tiene errores que hay que subsanar más allá de convertir comillas simples por dobles (por ejemplo algunos campos tiene comillas simples en el interior del campo), por lo que es mejor ir directamente a procesar los campos name: <nombre del actor> extraerlos y contruir una lista sin usar el parser de json.
    
NOTA: Esto es muy típico en los datasets, no todos los datos vienen limpios y gran parte del trabajo en IA en general y Machine Learning en particular es preprocesar los datos paraque nos sean útiles.

In [50]:
# Escribe aqui el ejercicio 1
import pandas as pd 
import ast

#Cargamos el archivo credits.csv
credits = pd.read_csv("credits.csv")
# Cargar el archivo evitando el warning
movies = pd.read_csv("movies_metadata.csv", low_memory=False)
#Convertimos la columna 'popularity' a string
movies['popularity'] = movies['popularity'].astype(str)
#Convertimos la columna id de credits a string
credits['id'] = credits['id'].astype(str)
#Guadamos el cast en una nueva columan author_list
credits["cast"] = credits["cast"].apply(ast.literal_eval)
credits["autor_list"] = credits['cast'].apply(lambda x: [actor['name'] for actor in x])
#Obtenemos los IDs de las películas donde aparece Bruce Willis
bruce_willis_ids = credits.loc[credits["autor_list"].apply(lambda x: "Bruce Willis" in x), 'id']
#Convertir a lista
bruce_willis_ids_list = bruce_willis_ids.tolist()
#Unimos ambas tablas por el id
merged_table = pd.merge(credits, movies, on='id', how='inner')
#Obtenemos una lista con el nombre las peliculas donde aparece Bruce Willis
peliculas_filtradas = merged_table[merged_table['id'].isin(bruce_willis_ids_list)]['title'].tolist()
print(len(bruce_willis_ids_list))
print(peliculas_filtradas)

91
['Four Rooms', 'Twelve Monkeys', 'Die Hard: With a Vengeance', "Nobody's Fool", 'Pulp Fiction', 'Color of Night', 'North', 'Striking Distance', 'Last Man Standing', 'Die Hard', 'Die Hard 2', 'Beavis and Butt-Head Do America', 'The Fifth Element', 'The Jackal', 'Mercury Rising', 'Armageddon', 'Mortal Thoughts', 'The Player', 'The Siege', 'Breakfast of Champions', 'The Sixth Sense', 'The Story of Us', 'The Verdict', 'The Bonfire of the Vanities', "National Lampoon's Loaded Weapon 1", 'Death Becomes Her', 'The Whole Nine Yards', 'Blind Date', 'The Kid', 'Unbreakable', 'Sunset', 'In Country', "Look Who's Talking", 'Bandits', 'The First Deadly Sin', "Hart's War", 'Billy Bathgate', 'Tears of the Sun', 'Rugrats Go Wild', "Charlie's Angels: Full Throttle", 'Hudson Hawk', 'The Last Boy Scout', 'The Whole Ten Yards', "Look Who's Talking Too", "Ocean's Twelve", 'Hostage', 'Sin City', '16 Blocks', 'Lucky Number Slevin', 'Over the Hedge', 'Fast Food Nation', 'Alpha Dog', 'The Astronaut Farmer', 'Perfect Stranger', 'Nancy Drew', 'Live Free or Die Hard', 'Planet Terror', 'What Just Happened', 'Surrogates', 'Assassination of a High School President', 'Cop Out', 'The Hamster Factor and Other Tales of Twelve Monkeys', 'The Expendables', "I'm Still Here", 'RED', 'Setup', 'The Expendables 2', 'Moonrise Kingdom', 'The Cold Light of Day', 'Looper', 'Catch.44', 'Lay the Favorite', 'Fire with Fire', 'A Good Day to Die Hard', 'G.I. Joe: Retaliation', 'RED 2', 'Sin City: A Dame to Kill For', 'The Prince', 'Altman', 'His Way', 'Vice', 'Rock the Kasbah', 'The Return of Bruno', 'Extraction', 'B.B. King: The Life of Riley', "Hammy's Boomerang Adventure", 'Precious Cargo', 'Marauders', 'Split', 'Once Upon a Time in Venice', 'First Kill']

In [41]:
# Cargar el archivo evitando el warning
movies = pd.read_csv("movies_metadata.csv", low_memory=False)
# Forzar la columna 'popularity' a str
movies['popularity'] = movies['popularity'].astype(str)
credits['id'] = credits['id'].astype(str)


merged_table = pd.merge(credits, movies, on='id', how='inner')
lista_ids = ['5', '63', '1572', '89']  # Reemplaza con tus IDs

# Filtrar las filas cuyos ID están en la lista
peliculas_filtradas = merged_table[merged_table['id'].isin(lista_ids)][['id', 'title']]
# Mostrar el resultado
print(peliculas_filtradas)

        id                               title
17       5                          Four Rooms
31      63                      Twelve Monkeys
162   1572          Die Hard: With a Vengeance
1249    89  Indiana Jones and the Last Crusade

Vamos a filtrar todas las películas de animación que tienen homepage y vamos a crearnos un dataframe manualmente con tres columnas, el id de la película, el título y el homepage y generaremos un número aleatorio . Después, escribiremos el dataframe como csv.

In [ ]:
AnimationHomepage = animation[animation["homepage"].notnull()]
display(AnimationHomepage)
NewAnimationHomepage = pd.DataFrame({'id':AnimationHomepage['id'],
                          'homepage':AnimationHomepage["homepage"],
                          'title':AnimationHomepage["title"]})

Escribimos el dataframe

In [ ]:
NewAnimationHomepage.to_csv("NewAnimationHomepage.csv",index=False)

## Uso de sklearn para calcular una regresión lineal

Sklearn es la libreria principal que vamos a utilizar para aplicar técnicas
de aprendizaje máquina. Pero despone de multitud de herramientas que son útiles
Por ejemplo dispone de regresión lineal.

Vamos a optener la ecuación lineal que minimiza el error cuadrático medio.
Esta ecuación constará de una variable dependiente y un conjunto de variables
independientes.

Para cada x se optendrá un error concreto en función de la distancia existente
entre el punto marcado por la recta y el valor real.

In [ ]:
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
#cargando el dataset de diabetes que incorpora sklearn.
diabetes = datasets.load_diabetes()
#usamos solo una caracteristica
diabetes_x = diabetes.data[:,np.newaxis,2]
#dividimos el dato ente entrenamiento y validación o test.
#esto es algo recurrente cuando hacemos aprendizaje máquina.

diabetes_x_train = diabetes_x[:-20] # Todos menos los 20 ultimos.

diabetes_x_test = diabetes_x[-20:] # desde el puesto 10 empezanod por le final hasta el final

# luego cogemos las clases para obtener los valores esperados.
diabetes_y_train = diabetes.target[:-20]
diabetes_y_test = diabetes.target[-20:]

#creamos la regresión lineal:
linearreg = linear_model.LinearRegression()
linearreg.fit(diabetes_x_train, diabetes_y_train)

#Comprobamos la capacidad de predicción
diabetes_y_pred = linearreg.predict(diabetes_x_test)
print("Mostramos los valores obtenidos por la regresión lineal")
print('Coeficientes: \n', linearreg.coef_)
print("MSE: %.2f"
      % mean_squared_error(diabetes_y_test, diabetes_y_pred))
print('R2: %.2f' % r2_score(diabetes_y_test, diabetes_y_pred)) #coeficiente de regresión.

Ahora dibujamos una gráfica usando matplotlib.pyplot que muestre la matriz de puntos y al recta de regresión.

In [ ]:

import matplotlib.pyplot as plt
plt.scatter(diabetes_x_test, diabetes_y_test,  color='black')
plt.plot(diabetes_x_test, diabetes_y_pred, color='blue', linewidth=3) #en linewidth le indicamos la linea en la gráfica.
plt.xticks(())
plt.yticks(())

plt.show()

# Ejercicio 02
Realiza otra recta de regresión del dataset "Boston" (Boston house prices) que tambien podeis encontrar en sklearn, pintando su gráfica.

In [ ]:
# Escribe aqui el ejercicio 2

# Ejercicio 03
Basándote en datos aleatorios (los que quieras) crea un gráfico de tarta (pie chart) con Mapplotlib. La gráfica debe tener un título, etiquetas de cada clase, visible los porcentajes de cada clase y opcionalmente una de las clases resaltadas.

In [ ]:
# Escribe aqui el ejercicio 3